<section class="w-3/4 m-auto bg-gray-100">
    <h1 class="h1 text-center pt-5">Details Order</h1>

    <h2 class="text-green-600 text-lg p-3 ms-8">totalOrderPrice: {{allorders?.totalOrderPrice}}</h2>

    @for (item of allorders?.cartItems; track item.product.id) {
        <div class="grid md:grid-cols-[20%_minmax(0,1fr)] my-4 gap-2 border-b">
           
           <div>
               <img [src]="item.product.imageCover" class="w-full h-[120px] object-contain" [alt]="item.product.title">
           </div>
              
         
            <div class="flex justify-between items-center">
             
           <div>
               <h3 class="text-green-600 text-xl p-1">Title: {{item.product.title}}</h3>
               <h4 class="text-red-800 text-lg p-1">Price: {{item.price }}</h4>
               
           </div>
            
          
           <div class="flex items-center gap-4">
                  
                   <h3 class="text-green-600 text-lg p-3">count: {{item.count}}</h3>
                  
           </div>
           </div> 
       </div>
    }

    <div class="flex justify-center">
        <button  routerLink="/home" class="btn-main mt-6  ">Done</button>
    </div>
    
</section>
