<section class="w-3/4 m-auto bg-gray-100">
    <h1 class="h1 text-center ">Register Now</h1>

   <form [formGroup]="register"(ngSubmit)="submitRegister()" class="mx-3 pb-5" >


    <div class="mb-3  ">
        <label for="name" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">name:</label>
        <input formControlName="name" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
           
        @let Name=register.get('name');
        @if (Name?.errors&&Name?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                  
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (Name?.getError('required')) {
                            <li>name ia required</li>
                        }
                        @else if (Name?.getError('minLength')) {
                                  <li>name minlength:3</li>
                        } 
                         @else if (Name?.getError('maxLength')) {
                            <li>name maxlength:20</li>
                        }
                     
                     
                      
                  </ul>
                </div>
              </div>
        }
     
    </div>


    <div class="mb-3  ">
        <label for="email" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">email:</label>
        <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        @let Email=register.get('email');
        @if (Email?.errors&&Email?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                  
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (Email?.getError('required')) {
                            <li>Email ia required</li>
                        }
                        @else if (Email?.getError('email')) {
                                  <li>invaild email</li>
                        } 
                       
                     
                     
                      
                  </ul>
                </div>
              </div>
        }

    </div>


    <div class="mb-3  ">
        <label for="phone" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">phone:</label>
        <input formControlName="phone" type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        @let Phone=register.get('phone');
        @if (Phone?.errors&&Phone?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                  
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (Phone?.getError('required')) {
                            <li>Phone ia required</li>
                        }
                        @else if (Phone?.getError('pattern')) {
                                  <li>invaild Phone</li>
                        } 
                       
                     
                     
                      
                  </ul>
                </div>
              </div>
        }

    </div>
   
    <div class="mb-3  ">
        <label for="password" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">password:</label>
        <input formControlName="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        @let Password=register.get('password');
        @if (Password?.errors&&Password?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                  
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (Password?.getError('required')) {
                            <li>Password ia required</li>
                        }
                        @else if (Password?.getError('pattern')) {
                                  <li>invaild Password</li>
                        } 
                       
                     
                     
                      
                  </ul>
                </div>
              </div>
        }
    </div>

    <div class="mb-3  ">
        <label for="repassword" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">repassword:</label>
        <input formControlName="rePassword" type="password" id="repassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        @let RePassword=register.get('rePassword');
        @if (register.getError('mismatch') &&RePassword?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                  
                    <ul class="mt-1.5 list-disc list-inside">
                       
                        <li>password confirmation incorrect !</li>

                  </ul>


                </div>
              </div>
        }
    </div>

    <button class="btn-main">SignUp
     @if (isLoading) {
      <i class="fas fa-spin fa-spinner" ></i>
     }
    </button>

     @if (isSuccess) {
      <p class="bg-green-500 px-2 py-3 text-center">{{isSuccess}}</p>
     }
     @if (msgErorr) {
      <p class="bg-red-500 px-2 py-3 text-center">{{msgErorr}}</p>
     }
   </form>
</section>
