@if (step==1) {
    <section class="w-3/4 m-auto bg-gray-100">
        <h1 class="h1 text-center pt-5">Forget Password</h1>
         
        <form [formGroup]="verifyEmailForm" (ngSubmit)="submitEamil()" class="mx-3 pb-5">
            <div class="mb-3">
                <label for="email" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">email:</label>
                <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  
                
                @let email= verifyEmailForm.get('email');
                @if (email?.errors&&email?.touched) {
                     
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                         
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (email?.getError('required')) {
                                    <li>Email is required</li>
                                }@else if (email?.getError('email')) {
                                    <li>Invaild Eamil !</li>
                                }
                              
                            
                              
                          </ul>
                        </div>
                      </div>
                }
             
    
            </div>
    
    
            <button  class="btn-main">login
                @if (isLoading) {
                    <i class="fas fa-spin fa-spinner"></i>
                }
              
            </button>
    
            @if (isSuccess) {
                <p class="bg-green-500 px-2 py-3 text-center">{{isSuccess}}</p>
               }
               @if (msgError) {
                <p class="bg-red-500 px-2 py-3 text-center">{{msgError}}</p>
               }
    
        </form>
    
    
    </section>
}
@else if (step==2) {
    <section class="w-3/4 m-auto bg-gray-100">
        <h1 class="h1 text-center pt-5">Reset Code</h1>
         
        <form [formGroup]="verifyCodeForm" (ngSubmit)="submitCode()" class="mx-3 pb-5">
            <div class="mb-3">
                <label for="code" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">code:</label>
                <input formControlName="resetCode" type="text" id="code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  
                
                @let code= verifyCodeForm.get('resetCode');
                @if (code?.errors&&code?.touched) {
                     
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                         
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (code?.getError('required')) {
                                    <li>code is required</li>
                                }@else if (code?.getError('pattern')) {
                                    <li>Invaild code !</li>
                                }
                              
                            
                              
                          </ul>
                        </div>
                      </div>
                }
             
    
            </div>
    
    
            <button  class="btn-main">Send
                @if (isLoading) {
                    <i class="fas fa-spin fa-spinner"></i>
                }
              
            </button>
    
            @if (isSuccess) {
                <p class="bg-green-500 px-2 py-3 text-center">{{isSuccess}}</p>
               }
               @if (msgError) {
                <p class="bg-red-500 px-2 py-3 text-center">{{msgError}}</p>
               }
    
        </form>
    
    
    </section>
}

@else if (step==3) {
    <section class="w-3/4 m-auto bg-gray-100">
        <h1 class="h1 text-center pt-5">Reset Password</h1>
         
        <form [formGroup]="rePassForm" (ngSubmit)="submitRepass()" class="mx-3 pb-5">
            <div class="mb-3">
                <label for="email" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">email:</label>
                <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  
                
                @let email= rePassForm.get('email');
                @if (email?.errors&&email?.touched) {
                     
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                         
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (email?.getError('required')) {
                                    <li>email is required</li>
                                }@else if (email?.getError('pattern')) {
                                    <li>Invaild email !</li>
                                }
                              
                            
                              
                          </ul>
                        </div>
                      </div>
                }
             
    
            </div>


            <div class="mb-3  ">
                <label for="password" class="block mb-2 text-sm font-medium text-green-700 dark:text-white">Repassword:</label>
                <input formControlName="newPassword" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                   
    
    
                @let pass= rePassForm.get('newPassword');
                @if (pass?.errors&&pass?.touched) {
                     
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                         
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (pass?.getError('required')) {
                                    <li>password is required</li>
                                }@else if (pass?.getError('pattern')) {
                                    <li>Invaild password !</li>
                                }
                               
                              
                            
                              
                          </ul>
                        </div>
                      </div>
                }
    
    
            </div>
    
    
            <button  class="btn-main">Send
                @if (isLoading) {
                    <i class="fas fa-spin fa-spinner"></i>
                }
              
            </button>
    
            @if (isSuccess) {
                <p class="bg-green-500 px-2 py-3 text-center">{{isSuccess}}</p>
               }
               @if (msgError) {
                <p class="bg-red-500 px-2 py-3 text-center">{{msgError}}</p>
               }
    
        </form>
    
    
    </section>
}





